<div class="row">
    <div class="col-md-12">
            <div class="text-center">

                <div id="loginform" class="form-group">
                    <h2>EMPLOYEE LOGIN</h2>
                    <input  class="form-control" type="text" [(ngModel)]="empid" placeholder="employee id" required>
                    <input class="form-control" type="password" [(ngModel)]="password" placeholder="password">
                    <button class="btn btn-primary" (click)="login()" >LOGIN</button>
                
                
                </div>

            </div>
    </div>
</div>